# ----------------------------
# PostgreSQL
# ----------------------------
POSTGRES_DB=auth_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# ----------------------------
# Gateway
# ----------------------------
GATEWAY_HTTP_PORT=8080

# ----------------------------
# Auth Service
# ----------------------------
AUTH_HTTP_PORT=8081
AUTH_DB_CONNECTION=Host=postgres;Port=5432;Database=auth_db;Username=postgres;Password=postgres

# JWT
JWT_SECRET_KEY=CHANGE_ME_SUPER_SECRET_KEY_123456789_123456789
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7
JWT_ISSUER=AuthService
JWT_AUDIENCE=VoiceAppClient

# ----------------------------
# Voice Service
# ----------------------------
VOICE_HTTP_PORT=8082

# ----------------------------
# Nginx
# ----------------------------
NGINX_HTTP_PORT=80

# ----------------------------
# Coturn
# ----------------------------
TURN_PORT=3478
TURN_REALM=localhost
TURN_USERNAME=testuser
TURN_PASSWORD=testpassword